body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#timer{
    user-select: none;
    -moz-user-select: none;
}

#prompt{
    user-select: none;
    -moz-user-select: none;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none !important;
}

.invalid {
    border: 1px solid red;
    background-color: #ffdddd;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#painttools{
    width: 100%;
    height: 75px;
    display: flex;
    padding: 10px;
}

#canvas {
    border: 2px solid black;
}